.btn {
    margin: .5rem auto !important;
}

.checkbox_label {
    line-height: 2rem;
}

.form-check-input {
    margin-top: .27rem !important;
}

.form-control {
    padding: .1rem .3rem !important;
}

.guests {
    -webkit-appearance: none;
}

.time {
    width: 110% !important;
}

@media only screen and (min-width: 1440px) {
    .time {
        width: 100% !important;
    }
}