body {
    font-family: "Engravers MT", serif;
    font-size: .875rem;
}

form > div {
    justify-content: center;
}

.btn {
    margin: .5rem auto !important;
}

.checkbox_label {
    line-height: 2rem;
}

.form-check-input {
    margin: .27rem auto !important;
}

.form-check-input:disabled~.form-check-label {
    color: #000 !important;
}

@media only screen and (min-width: 885px) {
    .form-check-input {
        margin: .27rem auto auto -1.25rem !important;
    }
}

@media only screen and (max-width: 575px) {
    .form-check-input {
        margin: .27rem auto auto -1.25rem !important;
    }

    .time {
        width: 33.3%;
    }
}

.form-control {
    padding: .1rem .3rem !important;
}

.form-control:disabled {
    background-color: #fff !important;
}

.guests {
    -webkit-appearance: none;
}

.ui-timepicker-wrapper {
    border: 1px solid #fff !important;
}

li:hover, ui-timepicker-selected:hover {
    background: #fff !important;
    border: 1px solid #000 !important;
    color: #000 !important;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
    background: #fff !important;
    border: 1px solid #000 !important;
    color: #000 !important;;
}