h5 {
    margin: 0 0 .8rem;
}

input {
    height: 1.5rem !important;
}

input, textarea {
    border: 1px solid #000 !important;
    border-radius: 0 !important;
    color: #000 !important;
    font-size: .875rem !important;
    margin: auto auto -.5rem;
}

label {
    line-height: 1rem;
}

.btn {
    margin: .5rem auto !important;
}

.checkbox_label {
    line-height: 2rem;
}

.form-check-input {
    margin-top: .27rem !important;
}
