.contact {
    display: inline-block;
    margin: auto .25rem 3rem;
    text-decoration: none !important;
}

.index_logo {
    height: 500px;
}

.loc_top {
    margin: -5rem 0 -.3rem;
}

.contact, .loc_top {
    font-family: "Engravers MT", serif;
}

.not_shown {
    display: none;
}