.contact {
    display: inline-block;
    margin: auto .25rem 3rem;
    text-decoration: none !important;
}

.index_logo {
    height: 500px;
}

.loc_top {
    margin: -8rem 0 -.3rem; /*Was -7 or -5*/
}

.contact, .loc_top {
    font-family: "Engravers MT", serif;
}

.not_shown {
    display: none;
}

.covid {
    margin: 1rem 0 1.5rem 0 !important;
    color: #B6010C;
}