body {
    font-family: serif;
    font-size: 1rem;
}

a, h5 {
    display: block;
    font-family: "Engravers MT",  serif;
    text-decoration: none;
}

.nye_res {
    margin: 1rem 0 -.5rem;
}

.nye_res_resy {
    margin: 0 0 1rem;
}

p {
    margin: 0 0 -.5rem;
}

.p_margin {
    margin: 1rem 0 1rem;
}

.res {
    display: inline-block;
    margin: 0 0 1rem;
}
