a, a:hover, p {
    color: #000;
}

a:hover {
    text-decoration: underline;
}

body {
    color: #000;
    font-family: 'Engravers MT', serif;
    font-size: .875rem;
    overflow: hidden;
    text-decoration: none;
}

h5 {
    margin: 0 0 .8rem;
}

input, select {
    height: 1.5rem !important;
}

input, select, textarea {
    border: 1px solid #000 !important;
    border-radius: 0 !important;
    color: #000 !important;
    font-size: .875rem !important;
    margin: auto auto -.5rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

label {
    line-height: 1rem;
}

select {
    background-color: #fff;
    padding: .05rem .3rem;
    -webkit-appearance: none;
    width: 100% !important;
}

.borders {
    border: 2px solid black;
    margin: 2%;
    min-height: 625px;
    min-width: 800px;
    outline: 1px solid black;
    outline-offset: -10px;
    width: 96%;
}

.res_logo {
    height: 160px;
}

.spacing {
    display: inline-block;
    margin: auto .5rem 1rem;
}

@media only screen and (min-width: 1440px) {
    html, body {
        height: 53vw;
        max-height: 96%;
    }
}

/*todo Saving for when menus change from pdf forms*/
/*.edwardian {*/
/*    font-family: "ITC Edwardian Script", serif;*/
/*}*/

/*@font-face {*/
/*    font-family: "ITC Edwardian Script";*/
/*    src: url("//db.onlinewebfonts.com/t/0db512de6cc55ce96eb449022d2bc7c9.eot");*/
/*    src: url("//db.onlinewebfonts.com/t/0db512de6cc55ce96eb449022d2bc7c9.eot?#iefix") format("embedded-opentype"),*/
/*    url("//db.onlinewebfonts.com/t/0db512de6cc55ce96eb449022d2bc7c9.woff2") format("woff2"),*/
/*    url("//db.onlinewebfonts.com/t/0db512de6cc55ce96eb449022d2bc7c9.woff") format("woff"),*/
/*    url("//db.onlinewebfonts.com/t/0db512de6cc55ce96eb449022d2bc7c9.ttf") format("truetype"),*/
/*    url("//db.onlinewebfonts.com/t/0db512de6cc55ce96eb449022d2bc7c9.svg#ITC Edwardian Script") format("svg");*/
/*}*/

@font-face {
    font-family: "Engravers MT";
    src: url("//db.onlinewebfonts.com/t/c5933cd6b0c0216e46f65ddc2685fd1c.eot");
    src: url("//db.onlinewebfonts.com/t/c5933cd6b0c0216e46f65ddc2685fd1c.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/c5933cd6b0c0216e46f65ddc2685fd1c.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/c5933cd6b0c0216e46f65ddc2685fd1c.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/c5933cd6b0c0216e46f65ddc2685fd1c.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/c5933cd6b0c0216e46f65ddc2685fd1c.svg#Engravers MT") format("svg");
}

@font-face {
    font-family: "Engravers MT Bold";
    src: url("//db.onlinewebfonts.com/t/c2eeb921f98253e22ae21e7b4d56966f.eot");
    src: url("//db.onlinewebfonts.com/t/c2eeb921f98253e22ae21e7b4d56966f.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/c2eeb921f98253e22ae21e7b4d56966f.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/c2eeb921f98253e22ae21e7b4d56966f.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/c2eeb921f98253e22ae21e7b4d56966f.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/c2eeb921f98253e22ae21e7b4d56966f.svg#Engravers MT") format("svg");
}